/* Generic */

@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #333333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
}

a {
  color: #55b29f;
}

/* Container */

#result {
  font-family: monospace;
  background-color: yellowgreen;
}

.container {
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 1.6rem;
}

#generateRequest,
#toggle,
#image {
  float: right;
  background-color: white;
}

/* Header */

.header {
  background: #7e9fcc;
  color: white;
  padding: 1.6rem 0;

  font-family: "Limelight", cursive;
  font-size: 150%;
  color: white;
  text-shadow: 2px 2px #ea847b;
}

.header__title {
  font-size: 3.2rem;
  margin-bottom: 0.4rem;
}

.header__subtitle {
  font-size: 1.6rem;
  font-weight: 300;
}

/* Actions Bar */

.actions {
  max-width: 70rem;
  margin: 0 auto;
  background-color: #8ce0c9;
  border-bottom: 1px solid #ffa59d;
  padding: 0.8rem;
}

#issues-counter {
  float: right;
  margin-top: 1rem;
}

#bonus {
  text-align: center;
  padding: 2rem 0;
  background: #ffa59d;
  font-style: italic;
}

/* Form Inputs */
.dropdown {
  border-radius: 0;
  border: 1px solid #ffa59d;
  background: white;
  font-size: 1.4rem;
  font-weight: 300;
  height: 3rem;
  margin-right: 0.8rem;
}

/* Table */

.container__table {
  margin-top: 2rem;
}

.container__table td {
  padding: 0.5rem;
}

.container__table tr:nth-child(even) {
  background: #fee5af;
}

/* Footer */
footer {
  padding: 2rem 2rem;
}
